<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.muhammadashfaq.eatit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/eatitiicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/eatitiicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="@android:icon">
        <activity android:name=".RecentlyAddedResActivity"></activity>
        <activity android:name=".AddResturantMapActivity" />
        <activity android:name=".PlaceListActivity" />
        <activity android:name=".AddResturant" />
        <activity android:name=".NearbyResturants" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".Pakage.ListenResturant" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".SigninActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="locked" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FoodList"
            android:parentActivityName=".Home" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".Cart" />
        <activity android:name=".Order" />

        <service
            android:name=".Pakage.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider965086207018322"
            android:exported="true" />
    </application>

</manifest>